.main {
  display: flex;
  width: 100%;
  height: 100%;
}

.ctr1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctr2,
.ctr1 {
  height: 100%;
  width: 50%;
}

@media only screen and (max-width: 635px) {
  .main {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: calc(100% - 100px);
  }
  .ctr1 {
    height: 150px;
    width: calc(100% - 20px);
  }
  .ctr2 {
    height: 400px;
    width: 100%;
  }
}
