.main {
  width: 100%;
  height: calc(100% - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerCtr {
  width: calc(100% - 40px);
  max-height: 80vh;
  padding: 30px 40px 20px;
  box-sizing: border-box;
  background-color: rgba(71, 71, 72, 0.242);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  background-color: #00000021;
  color: var(--color-secondary-text);
  border: 0.3rem solid #ffffff;
}

.heading {
  color: #ffffff;
  display: flex;
  margin-bottom: 20px;
  font-family: "Open Sans Bold";
  font-size: 20px;
}

.heading span {
  margin-left: 15px;
}

.content {
  width: 100%;
  overflow-y: auto;
  position: relative;
  padding: 0px 10px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.projectNavBar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.projectNavBar div {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid transparent;
  flex-grow: 1;
  margin: 0px 10px;
  padding: 5px;
}

.projectNavBar div:hover {
  border-color: rgb(232 226 124);
}

.projectNavBar .active {
  border-color: #ffffff;
}
