.main {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #00000021;
  color: var(--color-secondary-text);
  border: 5px solid #ffffff;
}

.toolIcon {
  margin: 5px 10px 0px;
}

.name {
  font-family: monospace;
  font-size: 40px;
  overflow: hidden;
  border-right: 3px solid var(--color-secondary-text);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0px;
  animation: typing 4.5s steps(18, end) infinite alternate,
    blink-caret 0.75s step-end infinite;
  max-width: fit-content;
}

.designation {
  font-family: "Open Sans SemiBold";
  font-size: 18px;
  white-space: nowrap;
  letter-spacing: 0px;
  max-width: fit-content;
}

@media only screen and (max-width: 635px) {
  .main {
    padding: 10px;
  }
  .name {
    font-size: 35px;
    animation: typing 4.5s steps(20, end) infinite alternate,
      blink-caret 0.75s step-end infinite;
  }
}

/******************************************************
                       ANIMATIONS
*******************************************************/

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--color-secondary-text);
  }
}
